{% extends "base.html" %}

{% block title %} Login {% endblock %}


{% block content %}
	<div id="login">
		<h2><strong>Register</strong></h2>
		  <img class="logo-big" alt='rat notes' src='{{ STATIC_URL }}img/logo-big.png'>
          <form method='POST' id='note-form'>
			<fieldset>
				<p>{{ form.username }}</p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p>        
                {% if form.username.errors %}
                    <div>{{ form.username.errors }}</div>
                {% endif %}
                </p>
				<p>{{ form.password1}}</p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p>
                {% if form.password1.errors %}
                  <div>{{ form.password1.errors }}</div>
                {% endif %}
                </p>
				<p>{{ form.password2}}</p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p>
                {% if form.password2.errors %}
                  <div>{{ form.password2.errors }}</div>
                {% endif %}
                </p>
				<p><input type="submit" value="Register"></p>
	            <a href="{% url 'login' %}"><h3>Do you already have an account?</h3></a>
                <p>
                {{ form.non_field_errors }}</p>
			</fieldset>
            {% csrf_token %}
		</form>
{%comment%}
		<p><span class="btn-round">or</span></p>
		<p>
			<a class="facebook-before"><span class="fontawesome-facebook"></span></a>
			<button class="facebook">Register Using Facbook</button>
		</p>
		<p>
			<a class="twitter-before"><span class="fontawesome-twitter"></span></a>
			<button class="twitter">Register Using Twitter</button>
		</p>
{%endcomment%}
	</div>
<script src='{{ STATIC_URL }}js/note.js'></script>
{% endblock %}
